.App {
  font-family: sans-serif;
  text-align: center;
}
.myTable {
  border: solid;
  width: 100px;
  height: 100px;
  border-collapse: collapse;
}

.data {
  border: solid;
  border-collapse: collapse;
}
